@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row text-center">
        <div class="col-6 offset-3">
            <h1>Enjoy Your Meal!</h1>
            <img class="w-50 mainImage" src="~/images/pizza-time-logo.jpg" alt="Create Your Own Pizza!"/>
            <h3 class="">Fastest Pizza Service!</h3>
        </div>
    </div>
</div>
