@page
@model RazorPizza.Pages.PizzaSaleModel
@{

    ViewData["Title"] = "Pizza Sale";
}

<h1>Pizza Sale</h1>

<a asp-page="/Checkout/Checkout">Checkout</a>

<div class="container">
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-3 bg-danger">
            <img class="w-100" src="~/images/Pizzas/Create.png" alt="Create Your Own Pizza!"/>
        </div>
        <div class="col-3 bg-danger text-white p-4">
            <h1>Create your own Pizza</h1>
            <br />
            <a class="btn btn-dark mx-auto w-50" asp-page="/Forms/CustomPizza">Try!</a>
        </div>
        <div class="col-3"></div>
    </div>
</div>
